body {
    font-family: 'lato';

    height: 100vh;

    margin: 0;
    /* background-image: url('./image\ \(3\).png'); */
}

/* image{
    background-image: url(gradient-top-view-laptop-background_52683-6291.avif);
} */

.container {
    padding: 0 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

    /* left: 68%; */
}

.family {
    position: relative;
    height: fit-content;
}

.container {
    position: absolute;
    top: 20px;
    right: 145px;
    font-size: 18px;
    height: fit-content;

}

h2 {
    margin-bottom: 15px;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 10px;

}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 30px;
}

#message {
    margin-top: 20px;
    color: red;
}
